<%= form_for(@tournament) do |f| %>
    <% if @tournament.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

          <ul>
            <% @tournament.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :from %><br>
      <%= f.date_select :from %>
    </div>
    <div class="field">
      <%= f.label :to %><br>
      <%= f.date_select :to %>
    </div>
    <div class="field">
      <%= f.label :contact %><br>
      <%= f.text_field :contact %>
    </div>
    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :surface %><br>
      <%= f.text_field :surface %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
