<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @court.city %>
</p>

<p>
  <strong>Court number:</strong>
  <%= @court.court_number %>
</p>

<p>
  <strong>Surface:</strong>
  <%= @court.surface %>
</p>

<%= link_to 'Edit', edit_court_path(@court) %> |
<%= link_to 'Back', courts_path %>
